.landingContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75vw;
  height: auto;
  text-align: center;
  margin-top: 10vh;
}

.landingContent {
  height: fit-content;
}

.imageContainer {
  width: 75vw;
  height: auto;
  margin-top: 5vh;
}

.logoContainer {
  width: 3rem;
  height: auto;
  margin: auto;
}

.headerText {
  font-weight: 700;
  font-size: xx-large;
}

.followupText {
  font-weight: 500;
  font-size: large;
  margin-bottom: 0;
  line-height: 5vh;
}

.followupText,
.headerText {
  margin-top: 10vh;
}

@media (min-width: 56rem) {
  /* These change the order of elements on page */
  .landingContent {
    display: flex;
    flex-direction: column;
  }
  .landingContent :nth-child(2) {
    order: 4;
  }
  .landingContent :nth-child(3) {
    order: 2;
  }
  .landingContent :nth-child(4) {
    order: 3;
  }
  .landingContent :nth-child(5) {
    order: 5;
  }
  /* ^^^^^^^^^^^^^^ */

  .headerText {
    margin-top: 5vh;
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  .logoContainer {
    width: 5rem;
  }
}

@media (min-width: 94rem) {
  .followupText {
    font-size: 1.5rem;
  }
}
