.mainHeader {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.placeContainer {
  display: flex;
  width: 100vw;
}

.btnContainer::-webkit-scrollbar {
  display: none;
}
.btnContainer {
  display: flex;
  z-index: 1;
  width: 95vw;
  overflow-x: scroll;
  height: fit-content;
}

@media (min-width: 70rem) {
  .placeContainer,
  .btnContainer {
    margin-left: 10vw;
    margin-right: 18rem;

  }
  .btnContainer {
    width: fit-content;
  }
}

@media (min-width: 51.25rem) {
  .mainHeader {
    width: fit-content;
  }
  .placeContainer {
    width: 58vw;
  }

  .btnContainer {
    justify-content: center;
  }
}

@media (min-width: 1275px) {
  .placeContainer,
  .btnContainer {
    margin-left: 12vw;
  }
}

