.discoverContainer {
  width: 75vw;
  height: fit-content;
  flex-direction: column;
  display: flex;
  margin: auto;
}

.imageContainer {
  position: relative;
  height: 20rem;
  width: fit-content;
  margin: auto;
  margin-top: 10vh;
}

.twoPhones {
  height: 20rem;
  width: fit-content;
  margin-top: 10vh;
}

.dotContainer {
  position: relative;
  height: 20rem;
  width: fit-content;
  margin: auto;
  margin-top: 10vh;
}

.dottedLineImage {
  margin-top: 10vh;
  height: 20rem;
  width: fit-content;
  margin: auto;
}

.otherContentContainer {
  width: 75vw;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.pin,
.contentHeader,
.contentDescription {
  margin: auto;
}

.pin {
  position: relative;
  height: 5rem;
  width: fit-content;
  margin: auto;
}
.pinImage {
  height: 5rem;
  width: fit-content;
  margin-top: 10vh;
}
.contentHeader {
  font-weight: 700;
  font-size: x-large;
  margin-top: 10vh;
}

.contentDescription {
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 56rem) {
  .discoverContainer {
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
  }
  .pin,
  .pinImage {
    height: 10rem;
    margin: 0;
  }

  .dotContainer,
  .dottedLineImage {
    height: 30rem;
    margin-bottom: 5vh;
  }

  .imageContainer,
  .twoPhones {
    height: 30rem;
    margin-top: 10vh;
  }
  .contentHeader {
    margin: 0;
  }

  .contentDescription {
    text-align: left;
  }

  .otherContentContainer {
    width: 40vw;
  }

  .dotContainer {
    width: 20vw;
  }
}

@media (min-width: 94rem) {
  .contentHeader {
    font-size: 3rem;
  }
  .contentDescription {
    font-size: 1.5rem;
  }
  .dotContainer,
  .dottedLineImage {
    height: 40rem;
  }
  .imageContainer,
  .twoPhones {
    height: 40rem;
  }
  .twoPhones {
    margin-top: 0;
  }
}
