.differentContainer {
  width: 75vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contentHeader {
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  margin-top: 60px;
}

.contentDescription,
.emphasisDescription {
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
}

.emphasisDescription {
  font-weight: 600;
}
.googleContainer {
  margin-top: 15px;
}

@media (min-width: 56rem) {
  .imageWithTitle {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  .differentContainer {
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
  }

  .description {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 40vw;
    height: fit-content;
  }

  .contentDescription,
  .emphasisDescription {
    text-align: left;
  }
}

@media (min-width: 94rem) {
  .contentHeader {
    font-size: 3rem;
  }
  .contentDescription,
  .emphasisDescription {
    font-size: 1.5rem;
  }
}
