.differentContainer {
  width: 75vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.googleContainer {
  position: relative;
  height: 20rem;
  width: fit-content;
  margin: auto;
  margin-top: 15px;
}

.googleSearch {
  height: 20rem;
  width: fit-content;
}

.contentHeader {
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 0;
}

.contentDescription,
.emphasisDescription {
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
}

.emphasisDescription {
  font-weight: 600;
}

@media (min-width: 56rem) {
  .differentContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    max-width: 1250px;
  }

  .contentHeader {
    margin-top: 0;
  }
  .description {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: fit-content;
  }

  .contentDescription,
  .emphasisDescription {
    text-align: left;
  }
}

@media (min-width: 94rem) {
  .differentContainer {
    max-width: 90vw;
  }
  .contentHeader {
    font-size: 3rem;
  }
  .contentDescription,
  .emphasisDescription {
    font-size: 1.5rem;
  }
  .googleSearch,
  .googleContainer {
    height: 30rem;
  }
}
