.hamburgerContainer {
  width: fit-content;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: right;
  position: relative;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin: auto;
  background-color: white;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 1px 5px #8d8d8d;
}

.burger {
  width: 1.5rem;
  height: 0.15rem;
  border-radius: 10px;
  background-color: black;
  margin: auto;
}

.burgerDropdownCLOSE {
  background-color: white;
  border-radius: 5%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 4vw;
  width: 10rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.burgerBackground {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 30;
}

.burgerLinkSelected,
.burgerLinkDeselected {
  border-radius: 5%;
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 500;
  line-height: 5vh;
  padding-left: 1rem;
  z-index: 100;
}

.burgerLinkSelected,
.burgerLinkSelected:hover,
.burgerLinkDeselected:hover {
  background-color: gainsboro;
  color: black;
}

@media (min-width: 51.25rem) {
  .burgerDropdownCLOSE {
    top: 4rem;
    right: 2vw;
  }
}
