.attractionsFilterBtn {
  display: flex;
  align-items: baseline;
  background: #fc266b;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  margin: 0.5rem;
  margin-top: 0.75rem;
  width: fit-content;
  height: auto;
}

.icon {
  margin-left: 0.5rem;
}

.buttonText {
  font-weight: 500;
  font-size: medium;
  line-height: 2rem;
  margin: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.placeContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.btnContainer::-webkit-scrollbar {
  display: none;
}
.btnContainer {
  display: flex;
  z-index: 1;
  width: 95vw;
  align-items: flex-start;
  overflow-x: scroll;
}

@media (min-width: 570px) {
  .btnContainer {
    justify-content: center;
  }
}
@media (min-width: 930px) {
  .mainHeader {
    width: calc(100vw - 25rem);
  }
  .placeContainer {
    width: auto;
  }
  .btnContainer {
    margin-right: 0.5rem;
    width: 28rem;
    justify-content: flex-start;
  }
}

@media (min-width: 1300px) {
  .mainHeader {
    width: calc(100vw - 35rem);
  }
  .btnContainer {
    width: 36rem;
  }
}
