.cardContainer {
  width: 20rem;
  height: 25rem;
  margin: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #03036d;
}

.cardContainer:hover {
  transform: translateY(-7px);
  box-shadow: 0px 10px 10px black;
}

.cardBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 0.5rem;
}

.fillContainer {
  width: 100%;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.fillContainer > div {
  position: unset !important;
}

.infoContainer {
  width: 18rem;
  margin: auto;
  margin-top: 0.7rem;
}

.placeName {
  font-size: 1.2em;
  margin: 0;
  color: #03036d;
}

.rating {
  font-size: 1em;
  color: #03036d;
}

.descriptionShort {
  font-size: 0.7em;
  line-height: 1.7;
}

.cardContentContainer {
  display: flex;
  flex-direction: column;
}

.starContainer {
  height: 10px;
  width: 10px;
}

.cardContentHeader {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.reviewContainer {
  display: flex;
  align-items: baseline;
}

.rating,
.reviewCount {
  margin: 0;
}

.reviewCount {
  font-size: 0.8em;
  color: #525279;
  align-items: center;
}

@media (min-width: 1200px) {
  .cardContainer {
    margin: 3rem;
  }
}
