.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.headerCaption {
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 0;
  height: 4rem;
  color: #03036d;
}

.contentContainer {
  display: flex;
  align-items: center;
  height: 60vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer::-webkit-scrollbar {
  width: 5px;
  color: blue;
}

.mainContainer::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.mainContainer::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
