.smallCardContainer {
  position: relative;
  height: 10rem;
  width: fit-content;
  margin: auto;
  margin-left: 3vw;
}

.image {
  height: 10rem;
  width: auto;
  border-radius: 20px;
}

.descriptionContainer {
  position: absolute;
  bottom: 2vh;
  margin-left: 3vw;
  z-index: 10;
}

.name,
.location {
  margin: 0;
}

.name {
  font-weight: 600;
  font-size: large;
  color: #ffff;
}

.location {
  font-weight: 600;
  font-size: small;
  color: #c9c9c9;
}

.cardImageOverlay {
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  position: absolute; /* Position over the image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
}

@media (min-width: 1300px) {
  .image,
  .smallCardContainer {
    height: 15rem;
  }
}
