.footerContainer {
  background-color: #fff0f3;
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  flex-direction: column;
  font-weight: 700;
}

.socials {
  display: flex;
  margin: auto;
  width: 50vw;
  margin-top: 5vh;
}

.socialIcon {
  margin: auto;
  margin-bottom: 5vh;
  width: 3rem;
  height: auto;
}

.generalPages {
  margin-bottom: 1vh;
  text-decoration: none;
  color: black;
}

.nameIcon {
  width: 8rem;
  height: auto;
  margin: 5vh;
  margin-bottom: 3vh;
}

@media (min-width: 56rem) {
  .socialIcon {
    /* width: 4vw; */
  }
}
