.cardContainer {
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  display: flex;

  jusify-content: center;
  align-items: center;
}

.cardBtnContainer {
  display: flex;
  justify-content: space-around;
  margin-left: 0.5rem;
}

.imageContainer {
  display: flex;
  position: relative;
  width: 16rem;
  height: 9rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.infoContainer {
  margin-left: 0.5rem;
}

.infoContent {
  font-size: 10px;
}

.cardContentContainer {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.starContainer {
  height: 10px;
  width: 10px;
}

.cardContentHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.reviewContainer {
  display: flex;
  align-self: flex-end;
}

.reviewCount {
  font-size: 6px;
  color: grey;
  align-items: center;
}

.latLngContainer {
  display: flex;
}

.showMore {
  font-size: 8px;
  color: blue;
}
