.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}
.hamburgerContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20vw;
  width: 30vw;
  height: auto;
  z-index: 20;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
}

.burgerDropdown {
  background-color: white;
  border-radius: 2%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  width: 30vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.burgerLinkSelected,
.burgerLinkDeselected {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 500;
  line-height: 5vh;
  padding: 2rem;
  z-index: 100;
}

.burgerLinkSelected, .burgerLinkSelected:hover, .burgerLinkDeselected:hover {
  background-color: gainsboro;
  color: black;
}
