.btnContainer::-webkit-scrollbar {
  display: none;
}
.btnContainer {
  display: flex;
  z-index: 11;
  padding-left: 0.85rem;
  overflow-x: scroll;
}

.mainHeader {
  display: block;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  height: 3rem;
  background-color: transparent;
  z-index: 10;
}

/* I want this for desktop */

.placeContainer {
  display: flex;
  align-items: center;
  width: 75vw;
}

.mainHeader {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 20% !important;
  height: 3rem;
  background-color: transparent;
  z-index: 10;
}

@media (min-width: 28.125rem) {
  .centerTop {
    display: block;
    position: fixed;
    top: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
  .btnContainer {
    position: relative;
    display: flex;
    z-index: 11;
    overflow-x: scroll;
    right: 27%;
    top: 0;
    margin-top: -2%;
  }

  .placeContainer {
    display: flex;
    padding-left: 5%;
    padding-top: 1rem;
  }

  .hamburgerContainer {
    left: 50%;
    top: 0%;
  }
}
