.mainHeader {
    display: inline-flex;
    flex-direction: row;
    flex-wrap : wrap;
    height: 3.5rem;
    align-items: stretch;
    background-color: transparent ;
    color: var(--color-hover-light);
    padding: 0.5%;
    z-index: 10;
  }
  
  .btnContainer {
    display:flex;
    align-items: space-between;
  }

  .pointsOfInterestFilterContainer {
    align-items: space-between;
  }

