.mainHeader {
    display: inline-flex;
    width: 100% !important;
    height: 100% !important;
    flex-direction: row;
    flex-wrap : wrap;
    height: 3.0rem;
    align-items: center;
    background-color: transparent ;
    color: var(--color-hover-light);
    padding: 0.5%;
    z-index: 10;
    /* margin-left: 20%; */
    margin-right: 5rem;
  }

  .centerTop {
    display: flex;
    /* margin-right: 15%; */
    margin-left: 7%
  }
  
  .btnContainer {
    display:flex;
    align-items: space-between;
    flex-wrap : wrap;

  }

  .pointsOfInterestFilterContainer {
    align-items: space-between;
  }
  .PlaceContainer {

  }

  .burgerContainer {
   /* position: fixed; */
   /* display: inline-block; */
    right:0;
}