

.infoContainer {
    width: 80vw;
    margin: auto;
    text-align: center;
}

.headers + .descriptions {
    margin-top: 1vh;
}

.headers {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 17vh;
}

.descriptions {
    line-height: 17px;
}

.examplePlaces {
    width: 80vw;
    margin: auto;
    margin-top: 17vh;
}