.landingContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75vw;
    height: 100vh;
    text-align: center;
    justify-content: center;

}

.landingContent {
    height: fit-content;
}