.darkBG {
    background-color: rgba(0, 0, 0, 0.627);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:fixed;
  }
  
  .centered {
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items:top;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 60vh;
    background: #fff !important;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  
  .modalHeader {
    height: 5rem;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top: 2rem;
  }
  
  .heading {
    margin: 1.125rem;
    /* padding: 0.4rem; */
    /* color: #2c3e50; */
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .modalContent {
    display: flex;
    flex-direction:column;
    align-items:center;
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    /* background: white; */
    text-align: center;
    margin-top: 1rem;
  }
  
  .modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 0.4rem 0.5rem;
    border-radius: .75rem;
    border: none;
    font-size: 1.0rem;
    color: #fffff;
    background: #FF0F0F;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -0.4rem;
    margin-right: -0.4rem;
    width:2.5rem;
    height:2rem;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  
.addToTripBtn {
  margin-top:4rem;
  width:15rem;
  height:4.5rem;
  bottom: 1.6rem;
  left: 15%;
  background-color: #FC266B;

}

.spacingContainer {
  /* padding: 0.2rem; */
}
  
.inputBar {
  width: 75%;
  border-radius: 1rem;
  height: 3rem;
}

.modalP {
  color:#9a9a9a;
  font-size: 1rem;
  font-weight: 600;
}