.darkBG {
  background-color: grey;
  opacity: 0.5;
  position: fixed;
  width: 150vw !important;
  height: 150vh;
  margin: none;
}

.absoluteContainer {
  width: fit-content;
  height: fit-content;
  z-index: 200;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
  background-color: #fff !important;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow-y: scroll;
}
