.mainHeader {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  background: white;
  bottom: 0;
  left:0;
}

.buttonContainer{
  display: flex;
  justify-content: space-around;
  padding-top: 1.5vh;  
  padding-right:2%;
  padding-left:2%;
}
  
  
