.mainHeader {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 12vh;
  background: white;
  bottom: 0;
  left:0;
  border: 1px solid black;

  
}



.buttonContainer{
  display: flex;
  justify-content: space-around;
  padding-top: 0.5vh;  
  padding-right:2%;
  padding-left:2%;
}

.link {
  border: 2px solid transparent;
  border-radius: 1rem;
  
}
  
.btnLabels {
  /* color: #0000EF; */
  position: absolute;
  bottom: 0;
  padding-left: 0.5rem;
  padding-bottom: 0rem;
}

.navBtn{
  padding-bottom:0%;
  padding-right:0%;
  border-radius: 1rem;
}

.link:hover {
  border: 2px solid #0000EF;
  transition: border-width 0.1s ease-in;
}

@media (min-width: 28.125rem) {
  .mainHeader {
    position: fixed;
    z-index: 10;
    width: 10vw;
    height: 100vh;
    background: white;
    top: 0;
    left:0;
    /* border: 2px solid #0000EF */
  }
  
  .logo {
    padding-left: 35%;
    padding-top:20%;
  
  }

  .buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 7vh;  
    padding-left:1%;
    height: 75vh;
    margin-left: 0;
  }

  .btnLabels {
    position: relative;
    top:0vh;
    padding-left: 0rem;
    padding-bottom: 0.5rem;
  }
  
  .navBtn{
    border: 2px solid transparent;
    border-radius: 1rem;
    padding-left: 5%;
    padding-top: 10%;
  }
  .link {
    padding-left: 20%;
    border: 2px solid transparent;
    border-radius: 1rem;
    margin-left:0;
    margin-right: -2%;
  }

}

@media(max-width: 28.124rem){
  .logo {
    display: none
  
  }
}