.mainHeader {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 100vw;
  height: fit-content;
  background: white;
  bottom: 0;
  left: 0;
  box-shadow: 0px -8px 8px -10px rgb(153, 153, 153);
}

.buttonContainer {
  display: flex;
  width: 100%;
  padding: 0;
  align-items: center;
  
}

.link {
  border: 2px solid transparent;
  border-radius: 1rem;
  margin: auto;
  height: 13vh;
  align-items: center;
}

.btnLabels {
  line-height: 1vh;
  margin-top: 1vh;
  line-height: 2vh;
  height: fit-content;
  margin-bottom: 1vh;
  text-align: center;
}

.navBtn {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: flex-start;
  margin-top: 1vh;
}

.imageContainer {
  position:relative;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 35px;
  height: 35px;
  overflow: visible
}

@media (min-width: 70rem) {
  .mainHeader {
    position: fixed;
    z-index: 10;
    width: 10vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .logo {
    margin: auto;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    height: 75vh;
    margin: auto;
  }

  .btnLabels {
    position: relative;
    text-align: center;
    top: 0vh;
    line-height: 2vh;
    margin-top: 2vh;
  } 

 .navBtn {
    border: 2px solid transparent;
    border-radius: 1rem;
  } 

  .imageContainer{
    width: 50px;
    height:50px;
  }
}

.btnBorder {
  width: 100%;
  margin-left: 1rem;
  margin-top:0.1rem;
}

.btnBorder:hover {
  outline: 2px solid #0000ef;
  transition: border-width 0.1s ease-in;
  border-radius: 1rem;
}

@media (max-width: 70rem) {
  .logo {
    display: none;
  }
} 
