.navigationButtonText {
  background-color: #fc266b;
  color: #fff;
  text-decoration: none;
  height: 3rem;
  width: 13rem;
  display: flex;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 1%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 8vh;
}
