.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}
