.backgroundConatiner{
 z-index: 0;
}

.darkmodeBackgroundContainer{
    width: 100vw;
    height: 100vh;
}

.darkmodebackground {
    width: 100vw;
    height: 100vh;
}

.backContainer {
    width: 100vw;
    height: 100vh;
}

.darkmodeback {
    width: 100vw;
    height: 100vh;
}
