.mapScreenContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pointsOfInterestFilterContainer {
  background-color: transparent;
  width: 100vw;
  height: 5vh;
  padding: 0.5%;
  z-index: 5;
}

.infoContainer {
  display: flex;
}

.mapContents {
  width: 100vw;
}
