.mapScreenContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pointsOfInterestFilterContainer {
  background-color: transparent;
  width: 100vw;
  height: 5vh;
  padding: 0.5%;
  z-index: 5;
}

.infoContainer {
  position: absolute;
  z-index: 100;
  top: 0;
  width: fit-content;
  height: auto;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}
