.mainContainer {
  width: 100%;
  height: 100%;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7.5%;
}

.profileItemsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.savedTrips {
  color: #03036d;
  background: #e2e2ff;
  padding: 0.75rem;
  border-radius: 1rem;
  font-weight: 600;
}

.listItem {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  width: 100%;
  padding: 1rem;
  color: #03036d;
  border: 2px solid #e2e2ff;
  border-radius: 1rem;
}

.logout {
  color: #ff0f0f;
  font-weight: 500;
  text-decoration: none;
}

.login {
  color: #ff0f0f;
  font-weight: 500;
  text-decoration: none;
}

.link {
  text-decoration: none;
}
