 .mainContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height:100%;
    margin: auto;
}

.mainContent{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height:100%;
    padding-top: 15%;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerCaption {
    padding-left: 2rem;
    padding-top: 1rem;
}

.imageContainer{
    position: relative;
    display: block;
    left: 5%;
    width: 85vw;;
    height:35vh;
}

.captionContainer {
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top:5%;
}

.btnContainer {
    padding-top:7.5%;
    padding: auto;
    display: flex;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: auto;
    margin: auto;
    padding-top: 2rem;
}



@media (min-width: 28.125rem) {
    
    .mainContent{
        padding-top: 5%;
    }

    .imageContainer{
        width: 36vw;
        height:44vh;
    }
    
    .captionContainer {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .btnContainer {
        padding-top: 5%;
        display: flex;
    }
    
      }

      
@media(min-width: 500px){
    .tripHeader {
        display:flex;
        justify-content: space-between;
        margin-left: 5vw;
    }
}