.mainContainer {
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    position: absolute;
}

.imageContainer{
    display: block;
    position: fixed;
    top: 7%;
    left: 2.5%;
    /* transform: translate(-50%, -50%); */
}

.tripHeader {
    display: block;
    position:relative;
    top:0;
    left:0;
    padding-left: 1rem;
}

.imageCaption{
    color: grey;
    padding-left: 3%;
    padding-right:4%;
    padding-bottom: 20%
}


.btnContainer {
    display: block;
    position: fixed;
    bottom: 100px;
    right: 80px;
}

@media (min-width: 28.125rem) {
    .imageContainer{
        display: block;
        position: fixed;
        top: 10%;
        left:36%;
        /* transform: translate(-50%, -50%); */
    }
    .btnContainer {
        display: block;
        position: fixed;
        bottom: 18%;
        right: 44%;
    }
    .headerCaption {
        padding-left: 2rem;
        padding-top: 1rem;
    }
    
      }