:root {
  --color-primary-light: #E2E2FF;
  --color-secondary-light: #ff5f9e;
  --color-tertiary-light: #fcc8d1;
  --color-hover-light: #060047;
  --color-information-sidebar-bg: rgb(173, 61, 9);
  --color-neutral: #ffffff;
  --color-alert: red;
  --color-primary-dark:
  --color-secondary-dark:
  --color-tertiary-dark:
}
html {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

html, body {
  font-family: "Geliat", sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

@font-face {
  font-family: "Geliat";
  font-weight: 400;
  src: url("/fonts/Geliat-Regular.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Geliat";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Geliat-Italic.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Geliat";
  font-weight: 500;
  src: url("/fonts/Geliat-Medium.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Geliat";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/Geliat-MediumItalic.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Geliat";
  src: url("/fonts/Geliat-SemiBold.ttf") format('truetype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Geliat";
  font-style: italic;
  src: url("/fonts/Geliat-SemiBoldItalic.ttf") format('truetype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Geliat";
  src: url("/fonts/Geliat-Bold.ttf") format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Geliat";
  font-style: italic;
  src: url("/fonts/Geliat-BoldItalic.ttf") format('truetype');
  font-display: swap;
  font-weight: 700;
}

'[data-radix-popper-content-wrapper]': {
  
},


::-webkit-scrollbar {
  width: 5px;
  color: blue;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.map-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: absolute;
}

.attractionsFilterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #FC266B;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
}

.attractionsFilterBtn {
  margin: .5rem;
  margin-top: .75rem;
  width: fit-content;
  height: auto;
  justify-content: flex-start;
}

.buttonText {
  font-weight: 500;
  font-size: medium;
  line-height: 3.5vh;
  margin: 0;
  margin-left: .75rem;
  margin-right: 1rem;
}


button:focus, button:active{background-color:#ff6396;}


.landingPageFindPlaces {
  box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 40px;
gap: 5px;
width: 174px;
height: 42px;
border-radius: 4px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
font-weight: 600;
font-size: 16px;
line-height: 100%;
margin-bottom: 50vh;
}

.cardBtn{
  width: 4rem;
  height:2rem;
  background: #FC266B;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  
}

.cardBtnText{
  font-size: 8px;
  color: #ffffff;
}

@media (min-width:51.25rem) {

}
