

.title {
    text-align: center;
    padding-top: 5rem;
    color:#b3e6cc;
}

.getStarted {
    text-align: center;
    color:#b3e6cc;
    padding-top: 4rem;
}

.description {
    padding-top: 12rem;
    text-align: center;
    color:#b3e6cc;
}
